<div class="jumbotron text-center">
	<h1>Examples</h1>
<div class="container-fluid">
  <div class="row">
	<div class="col-md-2 col-md-offset-5">
	  <div class="box">
		<h2>Bitcoin</h2>
		<div id="last" class="row">
		  <div class="bold">Last&nbsp;</div>
		  <span class="val bold">...</div>
		  <br />
		</div>
		<div id="ask" class="row">
		  <div>Ask&nbsp;</div>
		  <span class="val">...</div>
		  <br />
		</div>
		<div id="bid" class="row">
		  <div>Bid&nbsp;</div>
		  <span class="val">...</div>
		  <br />
		</div>
	  </div>
	</div>
  </div>
</div>
</div>