<div class="jumbotron text-center">
	<h1>Examples</h1>
<div class="container-fluid">
  <div class="row">
	<div class="col-md-2 col-md-offset-5">
	  <div class="box">
		<h2>Bitcoin</h2>
		<div id="last" class="row">
		  <div class="col-sm-6 bold">Last</div>
		  <div class="col-sm-4 val bold right">...</div>
		</div>
		<div id="ask" class="row">
		  <div class="col-sm-6">Ask</div>
		  <div class="col-sm-4 val right">...</div>
		</div>
		<div id="bid" class="row">
		  <div class="col-sm-6">Bid</div>
		  <div class="col-sm-4 val right">...</div>
		</div>
	  </div>
	</div>
  </div>
</div>
</div>